<h1>ならこれを聞けっっっ！！！！</h1>

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/confused">迷っている</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
<a href="/recommend/ready">もう俺は覚悟決めた</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
<a href="/recommend/giveup">全部投げ出したい</a>
</button>