<h1>ならこれを聞けっっっ！！！！</h1>

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/hiTension">テンションを上げたい</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/confused">迷っている</a>
</button> 

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/motivated">やる気に満ち溢れている</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/giveup">全部投げ出したい</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
<a href="/recommend/happy">なんとなく楽しい</a>
</button> 

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/sad">なんとなく悲しい</a>
</button> 

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/goodMorning">余裕のある朝</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/badMorning">時間のない朝</a>
</button> 

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/goodDay">気持ちのいい昼</a>
</button> 

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/badDay">気分の上がらない昼</a>
</button> 

<button class="nav__toggle" aria-expanded="false" type="button">
<a href="/recommend/goodEvening">澄んだ気持ちの夕方</a>
</button>   

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/badEvening">ちょっと後悔の夕方</a>
</button>

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/goodNight">楽しかった夜</a>
</button>  

<button class="nav__toggle" aria-expanded="false" type="button">
  <a href="/recommend/badNight">眠れない夜</a>
</button>  

